.error {
    background: url("../../images/admin/notification/error_msg_top.gif") no-repeat scroll 0 0 transparent;
    bottom: -14px;
    color: hsl(0, 93%, 32%);
    display: block;
    float: left;
    font: 400 11px/19px Tahoma,Geneva,sans-serif;
    left: 2px;
    padding: 5px 0 0;
    position: static;
	z-index:100
}
.error span {
    background: url("../../images/admin/notification/err_msg.gif") repeat scroll 0 100%;
    border-bottom: 1px solid #a33;
    border-left: 1px solid #a33;
    border-right: 1px solid #a33;
    border-width: 0 1px 1px;
    display: block;
    padding: 0 5px;
	height:19px
}
.errorReward {
    background: url("../../images/admin/notification/error_msg_top.gif") no-repeat scroll 0 0 transparent;
    bottom: -14px;
    color: hsl(0, 93%, 32%);
    display: block;
    float: left;
    font: 400 11px/19px Tahoma,Geneva,sans-serif;
    left: 2px;
    padding: 5px 0 0;
    position: absolute;
	z-index:100
}
.errorReward span {
    background: url("../../images/admin/notification/err_msg.gif") repeat scroll 0 100% hsl(0, 0%, 100%);
    border-bottom: 1px solid hsl(0, 93%, 32%);
    border-left: 1px solid hsl(0, 93%, 32%);
    border-right: 1px solid hsl(0, 93%, 32%);
    border-width: 0 1px 1px;
    display: block;
    padding: 0 5px;
}
/*.info, .success_msg,.error_msg, .warning {
border: 1px solid;
margin: 10px 27px;
padding:15px 10px 15px 50px;
background-repeat: no-repeat;
background-position: 0px center;
}*/
/*body{
font-family:Arial, Helvetica, sans-serif; 
font-size:13px;
}*/
/*.success_msg {
color: #4F8A10;
background-color: #DFF2BF;
background-image:url('../../images/success-icon.gif');
}*/

.signupPane .error_msg {
	padding-left:5px;
	padding-right:5px;
	text-align:center;
	color: #494c54;
	font: 12px Arial, sans-serif, "Myriad Pro";
	font-weight: bold;
	margin:0 0 15px;
	padding-top: 12px;
padding-bottom: 12px;
margin-left: -24px;
margin-right: -18px;
margin-top: -21px;
}
#frm_forgot_pswrd .error_msg {margin-top:-10px !important}