body.sScreen {
	min-width: 994px !important;
}
body.sScreen .headerWrap {
	width: 994px;
}
body.sScreen .bannerWrapInner{
	width: 994px;
}
body.sScreen .creative {
	width: 994px !important;
}
body.sScreen h3.categoryTitle{
	width: 923px;
}
body.sScreen .contentPane{
	width:928px;
}
body.sScreen .contentPane li{
	background:url(../../images/li_top_s.png) no-repeat 0 0;
	width: 307px;
}
body.sScreen .contentPane li .btm{
	background:url(../../images/li_btm_s.png) no-repeat 0 0;
	width: 307px;
}
body.sScreen .contentPane li article,body.sScreen .contentPane li .article{
	background:url(../../images/li_mid_s.png) repeat-y 0 0;
	width: 307px;
}
body.sScreen .contentPane li .imgPane{
	width:289px;
	height:146px;
}
body.sScreen .prfileContent td div {min-height: 53px;}
body.sScreen .contentPane li .imgPane img {
	width: 289px;
	height: 146px;
}
body.sScreen .contentPane li .innerContent{
	padding: 12px 14px;
}
body.sScreen .contentDis {
	padding: 9px 10px 7px 10px;
}
body.sScreen .progressPane{
	width:295px;
}
body.sScreen .valuePane {
	width: 296px;
	padding: 23px 0 14px 0;
}
body.sScreen .valuePane .valueCont {
	width: 97px;
}
body.sScreen .progressPane .txt {
	margin: 15px 3px 0 4px;
	font-size: 12px;
}
body.sScreen .jcarousel-skin-content .jcarousel-item {
	width: 307px;
}
body.sScreen .contentPane > .jcarousel-skin-content {
	margin-left: -1px;
}
body.sScreen .jcarousel-skin-content .jcarousel-container {
	width: 935px;
}
body.sScreen .centeAlignThree {
	width: 942px;
}
body.sScreen .centeAlignTwo {
	width: 630px;
}
body.sScreen .centeAlignOne {
	width: 307px;
}
body.sScreen .contentPaneNoSLide {
	width: 939px !important;
}
body.sScreen .footerWrap {
	width: 972px;
}
body.sScreen .innerMidWrap{
	width: 994px;
}
body.sScreen .signupAsideLeft{
	width: 488px;
}
body.sScreen .signupAsideLeft .video-js{
	width: 487px !important;
}
body.sScreen .signupAsideRight {
	width: 488px;
}
body.sScreen .signupAsideRight {
	width: 436px;
	float: right;
	position: relative;
}
body.sScreen .signupPane li .textBoxStyle { 
	width: 365px;
}
body.sScreen .signupPane {
	width: 381px;
}
body.sScreen .innerMidContent {
	width: 994px;
}
body.sScreen .prodeForm_l{
	width: 438px;
}
body.sScreen .prodeForm_l .textBoxStyle {
width: 420px;
}
body.sScreen  .prodeForm_r {
	width: 488px;
}
body.sScreen .prodeForm_r select.selectBx {
	width: 485px;
}
body.sScreen .multipleSEd{
	width:454px !important; 
}
body.sScreen  .prodeForm_r li{
	max-width: 504px !important;
}
body.sScreen .prodeForm li { 
	max-width: 463px;
}
body.sScreen .textBoxStyle{
	width: 443px;
}
body.sScreen  textarea.project_desc{
	width:935px !important;	
}
body.sScreen .fbConect {
	width: 191px;
	float: left;
	border-right: 1px solid #ececec;
	margin: 6px -2px 0 0;
}
body.sScreen .linkedinConect {
	width: 182px;
	float: left;
	padding-left: 6px;
	margin-top: 6px;
}
body.sScreen .fbConect a,body.sScreen  .linkedinConect a {
	color: #757575;
	font: 15px/32px calibri, arial, sans-serif;
}
body.sScreen select.selectBx {
	width: 460px;
}
body.sScreen .disProDetailsRight {
	width: 325px;
}
body.sScreen .jcarousel-skin-baker .jcarousel-container {
	width: 281px;
}
body.sScreen .createrDetails ul.details2 {
	width: 325px;
}
body.sScreen .promotePane .moreProBtnPane a {
	width: 74px !important;
}
body.sScreen .promotePane .moreProBtnPane .refTxtBox{
	width: 189px;
}
body.sScreen .bakersBlock li{
	width: 267px;
	margin: 0 20px 20px 0;
}
body.sScreen .bakersBlock li .rightCntnt{
	margin-left: 13px;
	width: 141px;
}
body.sScreen .discovervideo li,body.sScreen .imgUpload li {
	width: 299px;
}
body.sScreen .videoDetailsPane{
	width: 299px;
}
body.sScreen .play_img {
	left: 111px;
}
body.sScreen .discovervideo li img,body.sScreen .imgUpload li img {
	width: 299px;
	height: 180;
}
body.sScreen .postReplyPanelarge {
	width: 917px !important;
}
body.sScreen .postReplyPane {
	width: 794px;
}
body.sScreen .postReplyPanelarge .postReplyPaneTxtarea,body.sScreen .postReplyPanelarge .commentBlk {
	width: 833px;
}
.innerContent2 li {
	max-width: 422px !important;
}
.innerContent2 li .textBoxStyle{
	width: 409px !important;
}
body.sScreen .width383 {
	width: 383px !important; 
}
body.sScreen .myAccount {
	width: 994px;
}
body.sScreen .myAccountInner{
	width: 881px;
	margin: 0 auto;
	padding: 23px 18px 26px 19px;
}
body.sScreen .profilePic {
	width: 98px;
	height: 98px;
}
body.sScreen .prfileContent{
	width: 756px;
}
body.sScreen .filter {
	width: 994px;
}
body.sScreen .filterInner {
	width: 880px;
	overflow: hidden;
	padding: 23px 19px 26px 19px;
	margin: 0 auto;
}
body.sScreen .filter li {
	width: 277px;
}
body.sScreen .filter li.mid {
	margin: 0px 24px;
}
body.sScreen .btmLinks{
	width:928px;
}
body.sScreen .btmLinks li {
	background: url(../../images/btm_link_bg_s.png) no-repeat;
	width: 304px;
	margin-right: 10px;
}
body.sScreen .frm_contact li.fieldTxP {
    width: 459px;
}
body.sScreen .funding{
	width: 923px;
}
body.sScreen .userComent .commentBlk,body.sScreen  .postReplyPane .commentBlk {
	width: 774px;
}
body.sScreen .commentreply .commentBlk{
	width: 737px;
}