/************/
/*media slider*/
/************/
.jcarousel-skin-tango .jcarousel-container {
	width:417px;
	margin-top:0;
	padding: 0 23px 0 28px;
}
.jcarousel-skin-tango li {
	border-left:1px solid #cccfd8;
	float:left
}
.jcarousel-skin-tango li:first-child {
	border-left:0;
}
.jcarousel-skin-tango .jcarousel-clip {
	overflow: hidden;
}
.jcarousel-skin-tango .jcarousel-item {
	width: auto;
	height: 35px;
	max-width:100px;
	min-width:43px;
}
.jcarousel-skin-tango .jcarousel-next-horizontal, .jcarousel-skin-tango .jcarousel-prev-horizontal {
	position: absolute;
	top: 8px;
	right: 4px;
	width: 9px;
	height: 16px;
	cursor: pointer;
	background: transparent url(../../images/arrow.png) no-repeat 0 -17px;
}
.jcarousel-skin-tango .jcarousel-prev-horizontal {
	background: transparent url(../../images/arrow.png) no-repeat 0 0;
	left:1px;
}
/************/
/*media slider*/
/************//************/
/*content slider*/
/************/
.jcarousel-skin-content .jcarousel-container {
	width:1068px;
	margin-top:0;
}
.jcarousel-skin-content li {
	float:left
}
.jcarousel-skin-content .jcarousel-clip {
	overflow: hidden;
}
.jcarousel-skin-content .jcarousel-item {
	width: 350px;
	height: 450px;

}
.jcarousel-skin-content .jcarousel-next-horizontal, .jcarousel-skin-content .jcarousel-prev-horizontal {
	position: absolute;
	top: 40%;
	right: -30px;
	width: 18px;
	height: 41px;
	cursor: pointer;
	background: transparent url(../../images/arrow.png) no-repeat -10px bottom;
}
.jcarousel-skin-content .jcarousel-prev-horizontal {
	background: transparent url(../../images/arrow.png) no-repeat -10px 0;
	left:-37px;
}
/************************/
.jcarousel-skin-baker .jcarousel-container {
	width:320px;
	padding:0 23px 23px 23px;

}

.jcarousel-skin-baker li {
	float:left !important;
	margin-right:10px;
	width:55px;
	height:55px;
}
.jcarousel-skin-baker li:first-child {
	border-left:0;
}
.jcarousel-skin-baker .jcarousel-clip {
	overflow: hidden;
}
.jcarousel-skin-baker .jcarousel-item {
	width:55px;
	height:55px;
}
.jcarousel-skin-baker .jcarousel-next-horizontal, .jcarousel-skin-baker .jcarousel-prev-horizontal {
	position: absolute;
	top: 18px;
	right: 4px;
	width: 9px;
	height: 16px;
	cursor: pointer;
	background: transparent url(../../images/arrow.png) no-repeat 0 -17px;
}
.jcarousel-skin-baker .jcarousel-prev-horizontal {
	background: transparent url(../../images/arrow.png) no-repeat 0 0;
	left:0px;
}