.response_msg
{

margin: 5px 0;
font: 400 14px "segoe UI", "Trebuchet MS", Tahoma;
color: #BD0606;
background: url("../images/admin/notification/success_notification.png") 2px 3px no-repeat #FFB9B9;;
padding: 6px 10px 9px 29px;
display:block;

}

.error_response_msg
{

margin: 5px 0;
font: 400 14px "segoe UI", "Trebuchet MS", Tahoma;
color: #BD0606;
background: url("../images/admin/notification/error_notification.png") 2px 3px no-repeat #FFB9B9;;
padding: 6px 10px 9px 29px;
display:block;

}

.error {
background: url("../images/admin/notification/error_msg_top.gif") no-repeat 0 0;
color: #9B0606;
display: block;
float: left;
font: 400 11px/19px Tahoma,Geneva,sans-serif;
left: 112px;
padding: 5px 0 0;
position: absolute;
bottom: -21px;
z-index:999;
}

.error span {
background: #fff url("../images/admin/notification/err_msg.gif") repeat 0 100%;
border-bottom: 1px solid #9B0606;
border-left: 1px solid #9B0606;
border-right: 1px solid #9B0606;
border-width: 0 1px 1px;
display: block;
padding: 0 5px 0;
}

.error b {
background: #fff url("../images/admin/notification/err_msg.gif") repeat 0 100%;
border-bottom: 1px solid #9B0606;
border-left: 1px solid #9B0606;
border-right: 1px solid #9B0606;
border-width: 0 1px 1px;
display: block;
font-weight:normal;
padding: 0 5px 0;
}


.success-message  {
    background: url("../images/success-icon.gif") no-repeat scroll left center #F4FDE7;
    border: 1px solid #C5DF9C;
    border-radius: 2px 2px 2px 2px;
    color: #207718;
    font: bold 17px Calibri,"Trebuchet MS",Tahoma;
    margin: 0 auto 20px;
    padding: 8px 0 8px 56px;
}
.error-message  {
    background: url("../images/error-icon.gif") no-repeat scroll left center #FDE7E7;
    border: 1px solid #FBC7C5;
    border-radius: 2px 2px 2px 2px;
    color: #BD0C0E;
    font: bold 17px Calibri,"Trebuchet MS",Tahoma;
    margin: 0 auto 20px;
    padding: 8px 0 8px 56px;
}
.warning {
    background: url("../images/warning-icon.gif") no-repeat scroll left center #FFF8D5;
    border: 1px solid #E9D56F;
    border-radius: 2px 2px 2px 2px;
    color: #675115;
    font: bold 17px Calibri,"Trebuchet MS",Tahoma;
    margin: 0 auto 20px;
    padding: 8px 0 8px 56px;
}
.message_validation {
    background: url(../images/error-icon.png) no-repeat scroll left 2px transparent;
    clear: both;
    color: #F4550F;
    display: block;
    font: bold 12px/18px Arial,Helvetica,sans-serif;
    padding: 0 0 0 20px;
}


.star{
	color:#F00;
}


.errorPayment
{

background: url("../images/admin/notification/error_msg_top.gif") no-repeat 0 0;
color: #9B0606;
display: block;
float: left;
font: 400 11px/19px Tahoma,Geneva,sans-serif;

padding: 5px 0 0;
position: absolute;

z-index: 999;
padding-bottom: 10px;	

}

.errorPayment span {
background: white url("../images/admin/notification/err_msg.gif") repeat 0 100%;
border-bottom: 1px solid #9B0606;
border-left: 1px solid #9B0606;
border-right: 1px solid #9B0606;
border-width: 0 1px 1px;
display: block;
padding: 0 5px 0;
