/*Dashboard Style sheet
================================================================================*/
.content_container .dashboard .leftblock {
	border:#F5F5F5 1px solid;
	float:left;
	width:19%;
	margin-bottom:15px;
}
.content_container .dashboard .rightblock01 {
	width:80%;
	border:#F5F5F5 1px solid;
	float:right;
	margin-bottom:15px;
}
.content_container .dashboard .shadow_inner {
	border:#DEDEDE 1px solid;
	padding:0;
}

