@charset "utf-8";
/* Deal - List 
=================================================================================================================================================================*/
.deallisting_container {
	padding:10px 0 0 0;
}
/* Sort List Menu */
.sort_links {
	margin:0 0 8px 0;
	float:left;
}
.sort_links ul {
	font-size:13px;
}
.sort_links ul li {
	display:inline;
	float:left;
	padding:0 5px 0 0;
}
.sort_links ul li a {
	color:#0066cc;
	text-decoration:underline;
	height:22px;
	padding:0px 5px;
}
.sort_links ul li a {
	float:left;
}
.sort_links ul li a.selected {
	background:url(../images/sort-menu-selected.gif) left top repeat-x;
	text-decoration:none;
	color:#fff;
	text-decoration:none;
}
.sort_links ul li strong {
	color:#333333;
	font-style:italic;
	font-weight:600;
	line-height:20px;
}
/* Sort List Menu - End */ 
 ul.deal-list {
	border-top:1px solid #e3e3e3;
	font-family:"myriad Pro", "Segoe UI", "Trebuchet MS", Arial;
	padding-bottom:10px;
}
ul.deal-list li {
	border-bottom:1px solid #e3e3e3;
	padding:10px 10px;
}
ul.deal-list li a.action-link {
	float:left;
}
ul.deal-list li.shade01 {
	background:#f5f5f5;
}
ul.deal-list li div.actions {
	width:80px;
	padding:18px 12px 0 7px;
	float:left;
	text-align:center;
}
ul.deal-list li div.actions img {
	margin-right:2px;
}
ul.deal-list li div.deals-timing {
	width:170px;
	padding:0px 15px 0 0;
	float:left;
	text-align:right;
	line-height:20px;
	font:400 11px/18px Tahoma, Geneva, sans-serif;
}
ul.deal-list li div.deals-timing span {
	color:#999;
}
ul.deal-list li div.sell-count {
	float:left;
}
ul.deal-list li div.deals-details {
	padding:0 0 0 6px;
	float:left;
	width:50%;
}
ul.deal-list li div.deals-details .deal_id_type strong span {
	color:#333;
	padding-right:15px;
}
ul.deal-list li div.deals-details div strong {
	color:#999;
	font-size:12px;
	font-weight:bold;
	font:700 11px Tahoma, Geneva, sans-serif;
}
/* Sort List Menu */
ul.deal-list li div.sell-count div.count {
	background:#fefefe;
	padding:5px 8px;
	border:#dee3e7 1px solid;
	font-size:16px;
	font-weight:600;
	text-align:center;
}
ul.deal-list li div.sell-count div.count div span {
	font-size:23px;
	color:#1154a8;
}
ul.deal-list li div.sell-count div.count strong {
	font:700 10px Tahoma, Geneva, sans-serif;
	color:#999;
	line-height:normal;
	width:88px;
}
ul.deal-list li div.sell-count div.active-deals {
	background: url(../images/active-deals.gif) no-repeat 0 0;
	height:16px;
	margin:8px 0 0 3px;
	font-size:11px;
	color:#666;
	padding:0 0 0 19px;
	line-height:16px;
	float:left;
}
/* Sort List Menu - End */ 



img.action-icons {
	background:url(../images/action-icons.gif) no-repeat;
	border:0px;
	margin:0px 1px;
}
/* Tab Button
=================================================================================================================================================================*/
.tab-block {
	background:#848484;
	margin:0 0 20px;
	padding:0 10px;
	height:40px;
}
.listing-01 {
	display:block;
	margin:0;
	padding:10px 0 0 0;
}
.listing-01 li {
	float:left;
	
	margin:0 4px 0 0;
	padding:0px;
}
.listing-01 li a {
	background:url(../images/strip-01.gif) repeat-x left top;
	height:30px;
	float:left;
	padding:0 20px;
	display:block;
	text-decoration:none;
	text-transform:uppercase;
	font:bold 13px/30px "Segoe UI", Verdana;
	color:#3e3e3e;
}
.listing-01 li a.cur_menu, .listing-01 li a:hover {
	background:#fff;
	outline:none;
}
.listing-02 li {
	width:168px;
	float:left;
	margin:0 20px 20px 0;
	min-height:200px;
	height:auto !important;
	height:200px;
}
.listing-02 li .image-block {
	width:156px;
	height:154px;
	border:1px dashed #cbcbcb;
	padding:5px;
}
.listing-02 li .image-block .box-01 {
	width:156px;
	height:154px;
	position:relative;
}
.listing-03 li .leftside input {
	float:left;
	margin:7px 0 0;
}
.listing-03 li {
	padding:15px 10px;
	border-top:1px solid #e3e3e3;
}
.listing-03 li .leftside {
	width:35%;
	float:left;
	text-align:left;
	font-size:12px;
}
.listing-03 li .rightside {
	width:60%;
	float:right;
	font:normal 13px/20px "Segoe UI", Verdana;
	color:#666666;
}
.listing-03 li.shade01 {
	background:#f5f5f5;
}
.right-box {
	float:left;
	padding:0 0 0 12px;
	color:#999999;
	font-family:"Segoe UI", Verdana;
	line-height:20px;
}
.right-box strong {
	font-size:16px;
	color:#14589d;
}
.right-box span {
	color:#333333;
}
.listing-03 li .rightside blockquote {
	background:url(../images/cords-01.png) no-repeat left top;
	padding:0 0 0 35px;
	display:block;
	position:relative;
}
.listing-03 li .rightside blockquote p {
	padding:0 68px 0 0;
}
.quick-edit {
	background:url(../images/cords-02.png) no-repeat left top;
	width:15px;
	height:17px;
	padding:0 0 0 34px;
	position:absolute;
	bottom:0;
	right:0;
}
.edit-block {
	padding:0 90px 0 0;
}
.edit-block p {
	padding:5px !important;
	border:1px solid #9f9f9f;
}
.status-box-01 {
	width:81px;
	position:absolute;
	top:12px;
	right:0;
}
.controle-block-01 {
	padding:15px 0px;
	border-top:1px solid #e3e3e3;
}
.style02 {
	width:78px;
}
.block-03 {
	border:1px solid #e1e0e0;
	background:#f2f2f2;
	padding:7px;
}
.update_btn2 {
	padding:10px 0 0 68px;
}
