.drope-block-03 {
	width:auto;
}
.drope-block-02 .drope-block-03 .leftblock03 {
	width:98%!important;
}
.drope-block-03 .leftblock03 {
	width:45%;
	height:300px;
	float:left;
	padding:0 15px 0 10px;
	overflow:auto;
}
.drope-block-03 .leftblock03 ul, .drope-block-03 .rightblock03 ul {
	padding:10px 0 0 0;
}
.drope-block-03 .rightblock03 {
	width:45%;
	height:300px;
	overflow:auto;
	float:left;
	padding:0 15px 0 10px;
}
.drope-block-03 li {
	background:url(../images/drag_bgimg.gif) left top no-repeat;
	padding:0 0 0 15px!important;
	margin-bottom:10px;
	float:none!important;
	width:95%;
}
.drope-block-03 li a {
	padding:5px 35px 0 0;
	display:block;
	color:#666;
	line-height:15px;
	background:url(../images/drag_bgimg.gif) right top no-repeat;
	height:38px;
}
.drope-block-03 li a:hover {
	background:url(../images/drag_overimg.gif) right top no-repeat;
	text-decoration:none;
}
.drope-block-03 .rightblock03 li a {
	background-image:url(../images/drag_bgdelete.gif);
}