/* Colors */
.color-light {background: url("../../images/admin/head_bg.gif") repeat-x scroll left 50% transparent;}
.color-chocalate{background: url("../../images/admin/head_bg_chocalate.gif") repeat-x scroll left 50% transparent}
.color-sea {background: url("../../images/admin/head_bg_sea.gif") repeat-x scroll left 50% transparent}
.color-blush  {background: url("../../images/admin/head_bg_blush.gif") repeat-x scroll left 50% transparent}
.color-twlight {background: url("../../images/admin/head_bg_twlight.gif") repeat-x scroll left 50% transparent}
.color-fuchsia  {background: url("../../images/admin/head_bg_fuchsia.gif") repeat-x scroll left 50% transparent}
.color-yellow h3,.color-white h3,.color-green h3{color:#000;}
.color-chocalate h3,.color-blue h3,.color-orange h3{color:#FFF;text-shadow: 0.01em 0.05em 0.01em #000;}


.color-light .heading_style {
  border-bottom: 1px solid #ddd;
margin-bottom: 15px;}
.color-chocalate .heading_style {
    background: url("../../images/admin/head_bg_chocalate.gif") repeat-x scroll left  0 transparent !important;}
.color-sea .heading_style {
    background: url("../../images/admin/head_bg_sea.gif") repeat-x scroll left  0 transparent !important;}
.color-blush .heading_style {
    background: url("../../images/admin/head_bg_blush.gif") repeat-x scroll left  0 transparent !important;}
.color-twlight .heading_style {
    background: url("../../images/admin/head_bg_twlight.gif") repeat-x scroll left  0 transparent !important;}				
.color-fuchsia .heading_style {
    background: url("../../images/admin/head_bg_fuchsia.gif") repeat-x scroll left  0 transparent !important;}	
/* End Colors */


/* Head section */
#head {
    background: #000 url(img/head-bg.png) repeat-x;
    height: 100px;
}
#head h1 {
    line-height: 100px;
    color: #FFF;
    text-align: center;
    background: url(img/inettuts.png) no-repeat center;
    text-indent: -9999em
}
/* End Head Section */
.visibleImportant{
	visibility:visible !important;
}