#main_menu_id1 ul li a {
	background:none;
	padding-left: 10px;
}
.welcome_txt {
	color:#333;
	padding-right:10px;
}
.floatright{
	float:right;
}	
.floatleft{
	float:left;
}	
.clearfloat{
	clear:both;
}
.clsLanguageThemePopup {
    background: none repeat scroll 0 0 #444;
    border: 1px solid #696B63;
    margin: 18px 0 0 -8px;
    padding: 5px;
    position: absolute;
    width: 132px;
    z-index: 99999;
	right: 10px;
}	
.clsLanguage {
    background: url("../images/bg-language.gif") no-repeat scroll left top transparent;
    cursor: pointer;
    display: block;
    float: right;
    height: 18px;
    margin-bottom: 15px;
    text-align: left;
    width: 28px;
}	
.clsLanguage a {
    display: block;
    margin: 3px 2px;
}	
.clsLanguageThemePopup li a {
    color: #C3D2A3;
    text-decoration: none;
}	
.paginationDiv{
	padding:15px 0;
}
.ListValues li {
    overflow: hidden;
    padding: 2px 0;
    width: 250px;
}	
.ListValues li .ListValuesLeft{
float: left;
    font-weight: bold;
    width: 100px;
}
.ListValues li .ListValuesRight{
float: right;
    text-align: left;
    width: 140px;

}
.textboxWd{
	width:99%!important;
	 margin-top: 3px;
}




