@charset "utf-8";
/* Common Styles 
=================================================================================================================================================================*/
body{background:#fff;padding:10px;}
.popup-block  h2{
	padding:0;
	font:400 20px/22px "Segoe UI", Verdana!important;
	color:#333333;
	}

.email_pop_outer{
   background:#F2F2F2;
    border: 8px solid #E0E0E0;
    margin: 5px 0;
    min-height: 422px;
    padding: 20px;
    width: 563px;
}
.email_pop_inner{
     background: #FFFFFF;
    min-height: 408px;
    padding: 20px 10px;
}
.alert-01
{	background:url(../images/alert-bg.png) no-repeat left top;
	height:27px;
	padding:0 0 0 33px;
	margin:0 0 0 4px;
	font:normal 11px/27px Arial, Helvetica, sans-serif;
	color:#e11212;
	float:left;
}
.alert-01 span
{	background:url(../images/alert-bg.png) no-repeat right bottom;
	height:27px;
	display:block;
	padding:0 9px 0 0;
}
.preloader
{	background:url(../images/ajax-loader.gif) no-repeat left 4px;
	padding:0 0 0 30px;
	margin:0 0 0 8px;
	font:normal 11px/27px Arial, Helvetica, sans-serif;
	float:left;
	height:27px;
}
.textarea-01
{	height:47px;
	padding:2px;
}
.drope-block
{	margin:0;
	padding:0;
	width:850px;
	
}
.drope-block ul
{	margin:0;
}
.drope-block td{width:50%;}
.drope-block li
{	height:28px;
	margin:0 0 12px;
	text-align:left;
	
}
.drope-block li a
{	background:url(../images/drop-bg.gif) no-repeat right -28px;
	height:28px;
	display:block;
	padding:0 30px 0 0;
	cursor:move;
	font:normal 14px/28px "Segoe UI", Verdana;
	color:#333!important;
}
.drope-block li a span
{	background:url(../images/drop-bg.gif) no-repeat left top;
	height:28px;
	display:block;
	padding:0 0 0 15px;
}
.drope-block li a span span{
	background:none!important;
	padding:0 !important;
}
.drope-block li a:hover
{	background:url(../images/drop-bg.gif) no-repeat right -56px;
	color:#333!important;
	text-decoration:none;
}
.drope-left,.drope-right
{	overflow:auto;
	height:308px;
	padding:0 10px 0 0;text-align:left;
	width:400px;
}


.message-01, .message-02,.message-03
{	color:#666666;
	font:normal 12px "Segoe UI", Verdana;
	font-style:italic;
	padding:5px 0 ;
	text-align:left;
}
.message-03{padding:5px 12px ;text-align:left;}
.message-02
{	padding:0;
	margin:0 0 10px;
}

.list-block
{	height:245px;
	overflow:scroll;
	padding:0 12px 0 0;
}

.form_listing li .leftside03{float:left;text-align:left;padding:0 20px 0 0;}
.form_listing li .rightside03{width:68%;float:left;}
.pad_none
{	padding:0 !important;
}
.pad_none ul
{	padding-bottom:7px !important;
}
.add_btn
{	background:url(../images/tablelisting/bullet-01.gif) no-repeat 7px 9px #fff;
	border:1px solid #b6b6ae;
	float:right;
	height:25px;
	padding:0 10px 0 24px;
	line-height:25px;
}
.add_btn A
{	color:#353535;
}
.add_btn A:hover
{	text-decoration:none;
}
.list-block-02
{	margin:0;
}
.list-block-02 h3
{	border-bottom:none;
	padding:0;
	margin:0 0 6px;
}
.inner-block
{	border:3px solid #e4e4e4;
	padding:12px 13px;
}
.map-block
{	
	height:154px;
	margin:0 0 20px;
	border:1px solid #cccccc;
}
.form_listing li .fixing_left,.form_listing li .fixing_right{
	width:49%;
}