.personal_info {
	background:url(../images/seperator_01.gif) right top no-repeat;
	float:left;
	margin:0 0 15px 0;
}
.personal_info_inner {
	background:url(../images/seperator_04.gif) right bottom no-repeat;
	float:left;
	padding-right:77px;
}
.personal_info_inner li {
	font-size:14px;
	color:#999;
	padding:0 0 5px 0;
}
.personal_info_inner li span {
	color:#000;
}
.available_bal {
	float:left;
	font-size:14px;
	color:#000;
	padding-top:20px;
	line-height:22px;
}
.available_bal span {
	font-size:24px;
	display:block;
}
.account_billinginfo {
	padding:0 30px 10px 0;
	float:left;
	width:35%;
	font-size:13px;
}
.account_billinginfo li {
	padding:0 0 5px 0;
}
.first_cols {
	float:left;
	width:40%;
}
.second_cols {
	float:left;
	width:5%;
	text-align:center;
}
.third_cols {
	float:left;
	width:55%;
}
/************END*****END********END*************USER DETAILS PAGE      USER DETAILS PAGE      USER DETAILS PAGE    ***********END*********END**********/

/************START*****START********START*************ORDER DETAILS  CSS     ORDER DETAILS CSS   ORDER DETAILS CSS  ***********START*********START**********/
.order_details {
	border:#e7e7e7 2px solid;
	float:left;
	width:32%;
	margin:0 30px 20px 0;
}
.order_details_inner {
	border:#fffffc 1px solid;
	background:#f2f2f2;
	padding:15px;
	color:#666;
}
.order_details_inner li {
	padding:0 0 5px;
}
.order_details_inner li .third_cols {
	width:50%;
	padding-left:10px;
}
.billing_info {
	float:left;
	width:50%;
}
.billing_info li {
	padding:0 0 3px;
	font-size:14px;
	color:#000;
}
.billing_info li span {
	color:#666;
}
.total {
	float:right;
	width:200px;
	padding:10px 0;
}
.total li {
	padding:0 0 3px;
	font-size:13px;
	text-align:right;
	font-weight:bold;
}
.total li span {
	display:block;
	padding-right:10px;
	width:120px;
	float:left;
}