/* Details Pages Heading Styles 
==================================================================================================================================================*/
.heading_section {
	padding-bottom:20px;
	color:#444;
	font:400 13px "Segoe UI", "Myriad Pro", "Trebuchet MS", Tahoma;
	position:relative;
}
.heading_section .image_left {
	float:left;
	
}
.heading_section .right_content {
	float:left;
	padding-left:10px;
	width:70%;
	
}
.heading_section li span {
	color:#999;
}
.heading_section li {
	padding:0 35px 0 0;
	float:left;
	color:#333;
	border-right:#ccc 1px solid;
}
.heading_section li.first-one {padding-left:0!important;}
.heading_section li.last-one {
	border:0;
	padding-left:20px;
}
.no-border {
	border:0!important;
}
.sold-count-display {
	font:normal 15px "Segoe UI", Verdana;
	color:#000;
}
.sold-count-display span {
	color:#3399cc;
	font-weight:bold;
	font-size:23px;
}
span.activetext {
	background:url(../images/active_left_bg.png) left top no-repeat;
	display:inline-block;
	font:400 11px Tahoma, Geneva, sans-serif;
	color:#fff;
	display:inline-block;
	vertical-align:middle;
	line-height:15px;
	padding:0 8px 0 15px;
	height:16px;
}
span.inactivetext {
	background: url(../images/inactive_left_bg.png) left top no-repeat;
	display:inline-block;
	font:400 11px Tahoma, Geneva, sans-serif;
	color:#fff;
	display:inline-block;
	vertical-align:middle;
	line-height:15px;
	padding:0 8px 0 15px;
	height:16px;
}
/* Details Pages Content Styles 
==================================================================================================================================================*/


.account_details {
	background:#F2F2F2;
	border:#E0E0E0 1px solid;
	padding:9px;
	margin:0 0 20px;
}
.account_details .leftside {
	width:50%;
	float:left;
}
.account_details .leftside li {
	padding:2px 10px;
}
.account_details .leftside li .first_cols {
	width:20%;
	float:left;
}
.account_details .leftside li .second_cols {
	width:5%;
	float:left;
}
.account_details .leftside li .third_cols {
	width:74%;
	float:right;
}
.account_details .leftside li.shade01 {
	background:#faf9f9;
}
.account_details .mapcontainer {
	width:47%;
	float:right;
	background:#fff;
	padding:10px;
}
.google_map {
	border:#666 1px solid;
	margin:0 5px 5px 0;
	width:80%;
	height:195px;
}